[submodule "thirdparty/dlog"]
	path = thirdparty/dlog
	url = https://github.com/dumheter/dlog
[submodule "thirdparty/fmt"]
	path = thirdparty/fmt
	url = https://github.com/fmtlib/fmt
[submodule "thirdparty/dutil"]
	path = thirdparty/dutil
	url = https://github.com/dumheter/dutil
[submodule "thirdparty/cpptoml"]
	path = thirdparty/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "thirdparty/cppfs"]
	path = thirdparty/cppfs
	url = https://github.com/cginternals/cppfs
[submodule "thirdparty/doctest"]
	path = thirdparty/doctest
	url = https://github.com/onqtam/doctest
[submodule "thirdparty/alflibcpp"]
	path = thirdparty/alflibcpp
	url = https://github.com/Alfret/AlfLibCpp
