# Project
CMakeSettings.json
local/
out/
bin/
.vs/
CMakeSettings.json

# Compiled Object files
*.o
*.obj
*.ink

# Libraries
*.so
*.dylib
*.dll
*.a
*.lib
*.pdb

# Executables
*.exe
*.out
*.app

# resources
*.tga
*.ogg
